body {
    margin: 0;
    padding: 0;
    background-image: url('https://lh5.googleusercontent.com/pg0htR2XUH_RbYXwC74cd0Dv3rCj3JTGvoGqXYLyc7qsrNNwZ6REkYRIpsTHCDrrJ1HRR_uEQKCdFEnY1qWiJHmwFhPQ3D7hyW2IbNaYm_R21gtqzuIBjLMgplRJxfe7tw=w1280');
    background-size: cover;
    font-family: Arial, sans-serif;
}
/* Restante do seu CSS aqui... */
